:root{
  --theme-color-blue: #0091EA;
  --theme-color-green: #00695C;
  --theme-color-green-light: #1DE9B6;
}

html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
*::selection{
  background: lightgrey;
}
.p-1{padding: 5px !important;}
.p-2{padding: 10px !important;}
.p-3{padding: 15px !important;}
.p-4{padding: 20px !important;}
.p-5{padding: 25px !important;}

.m-1{margin: 5px !important;}
.m-2{margin: 10px !important;}
.m-3{margin: 15px !important;}
.m-4{margin: 20px !important;}
.m-5{margin: 25px !important;}

.mb-10{margin-bottom: 50px;}

.mt-10{margin-top: 50px;}

.float-right{float: right;}
.float-left{float: left;}
.text-white{color: #fff;}

h2{
  font-family: 'Montserrat', sans-serif;
}

.main{
  min-height: 100%;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0) 96%, rgba(200, 186, 179, 0) 98%, rgba(220, 220, 220, 0.5) 100%), linear-gradient(to right, rgba(100,100,100, 0.7) 50%, rgba(0,0,0,0) 100%) ,url('https://images.pexels.com/photos/87223/pexels-photo-87223.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 96%, rgba(200, 186, 179, 0) 98%, rgba(153,184,205,1) 100%), url('https://images.pexels.com/photos/358636/pexels-photo-358636.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.main .main-content{
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
}
.main h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
.main p{
  font-size: 18px;
}
.main .browse-button{
  color: #333 !important;
  background: white;
  border: 1px solid white;
  border-radius: 0; color: white;
  padding: 10px 20px;
}
.main .browse-button:hover{
  background-color: transparent;
  color: white !important;
}

nav{
  padding: 10px !important;
  margin: 0px !important;
}
.nav>li>a{
  margin: 0 3px 0 3px;
}
.navbar-nav>li>a{
  padding: 8px 20px;
}
.navbar-brand{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  text-transform: uppercase;
}
#list-your-pg-link{background-color: #9ab9ce;}
#list-your-pg-link:hover{background-color: #e7e7e7;}

.carousel-control{background: rgba(0,0,0,0) !important;}
.car-img{
  box-shadow: 0 0 50px #555;
  width: 60%;
  opacity: 0.9;
}

.position-relative{position: relative;}
.l-50{left: 50%;}
.mx-50{
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.choices{
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, rgba(153,184,205,1), rgba(256,256,256,0)), linear-gradient(rgba(0,0,0, 0) 96%, rgba(54,114,150,1) 100%), url('https://images.pexels.com/photos/110575/pexels-photo-110575.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  /* background-image: linear-gradient(rgba(0,0,0,0), rgba(256,256,256,0.5)), url('https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg?auto=compress&cs=tinysrgb&h=750&w=1260'); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 80px 0;
}
.choices hr.underline{
  width: 50%;
  border-top: 0.09em solid #fff;
  margin: auto;
}

.theme-color-blue{color: var(--theme-color-blue);}
.theme-color-green{color: var(--theme-color-green);}
.theme-color-green-light{color: var(--theme-color-green-light);}

.choice-cards{
  box-sizing: border-box;
  padding: 20px 0;
  margin: 20px 0 0px 0;
}

.choice-card{
  box-sizing: border-box;
  width: 80%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 20px;
  background: #eee;
  transition: all 0.2s;
  margin-bottom: 40px;
  cursor: pointer;
}

.choice-card:hover{
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  box-shadow: 0 0 30px #444;
  transition: all 0.2s;
}

.choice-card-body{
  padding: 10px 0 10px 0;
}

.fa-home{
  margin: 10px 0 10px 0;
  font-size: 30px;
  color: white;
}

.title-text{
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
}

.serve-boxes{
  box-sizing: border-box;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 18px;
  /* min-height: 100%; */
}
.serve-boxes hr.underline{
  width: 50%;
  border-top: 0.09em solid #555;
  margin: auto;
}
.serve-box{
  box-sizing: border-box;
  margin: 30px 0;
  padding: 10px 55px;
}
.serve-heading{
  color: #555;
}
.serve-title-text{
  font-family: 'Tajawal', sans-serif;
  color: #455A64;
}
.serve-box-text{
  font-family: 'Tajawal', sans-serif;
  color: #546E7A;
  font-size: 16px;
}

.about-text{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.about{
  background-image: url('http://www.userlogos.org/files/backgrounds/Mafia_Penguin/Map1280x800.jpg');
  box-sizing: border-box;
  padding: 120px 18px;
}
.about button{
  border-radius: 0;
  color: #666;
}
.about hr.underline{
  width: 50%;
  border-top: 0.09em solid #555;
  margin: auto;
}
.about-heading{
  color: #555;
}
.about-text{
  padding: 20px 20% 0 20%;
  color: #777;
}
.footer{
  box-sizing: border-box;
  padding: 40px 0 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
.footer-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .car-img{
    width: 100%;
  }
  .carousel-control{background: rgba(0,0,0,0) !important;}
  .about-text{padding: 20px 0 0 0;}

  .main .main-content{margin-top: 10px;}
  .choices{padding: 20px 0 50px 0;}
}
