
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/navbar-custom.css">

  <div class="main">
    <!-- navbar -->
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EasyFind</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <!-- <ul class="nav navbar-nav">
          </ul> -->
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/profiles">Browse</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">Developers</a></li>
             <% if !user_signed_in? %>
            <li><a href="/users/sign_in" id="list-your-pg-link">List your PG/Flat</a></li>
            <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></li>
              <li><a href="/profile">Create Profile</a></li>
              <!-- <li><a href="/profile/edit/id">Edit Profile</a></li> -->
              </ul>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 text-white p-5 main-content">
          <h3>Connecting you with the right accommodation & 
the right people.<br> Broker-Free!</h3>
          <p>A clean and well-managed marketplace that has access to authentic information about PGs, flats and rental houses. Search your next home here. Make sure you invite us to the house-warming party. ;-)</p>
          <a href="/profiles"><button type="button" class="btn btn-default browse-button" name="button">Browse</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- what are you looking for -->
  <div class="choices">
    <h2 class="text-center text-dark choice-header">WHAT ARE YOU LOOKING FOR?</h2> <hr class="underline mb-10">

    <!-- choice cards -->
    <div class="choice-cards" align="middle">
      <div class="container">
        <div class="row no-gutters">
          <!-- card 1 -->
          <div class="col-md-3 col-sm-6" onclick="location.href='/profiles'">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="./home-icon1.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                PG
              </div>
            </div>
          </div> <!-- /card 1 -->

          <!-- card 2 -->
          <div class="col-md-3 col-sm-6" onclick="location.href='/profiles'">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="./home-icon2.png" alt="home icon" height="100px" width="100px">
              </div>
              <div class="choice-card-body title-text">
                Flat
              </div>
            </div>
          </div> <!-- /card 2 -->

          <!-- card 3 -->
          <div class="col-md-3 col-sm-6" onclick="location.href='/profiles'">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="./home-icon3.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                Shared Room
              </div>
            </div>
          </div> <!-- /card 3 -->

          <!-- card 4 -->
          <div class="col-md-3 col-sm-6" onclick="location.href='/profiles'">
            <div class="choice-card">
              <div class="choice-card-icon" align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="./home-icon4.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                Family Home
              </div>
            </div>
          </div> <!-- /card 4 -->
        </div> <!-- /row -->
      </div> <!-- container -->
    </div> <!-- /choice cards -->
  </div> <!-- choices -->

  <div class="serve-boxes">
    <h2 class="text-center serve-heading">HOW WE SERVE YOU?</h2> <hr class="underline mb-10">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="./home-icon1.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
              <h3 class="serve-title-text">1. EASY SELECT</h3>
              <div class="serve-box-text">
                Choose your desired FLAT/PG/ROOM according to your requirements.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="./home-icon3.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
              <h3 class="serve-title-text">2. CONTACT OWNER</h3>
              <div class="serve-box-text">
                Contact the Owner instantly via email or his/her contact number.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="./home-icon2.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
              <h3 class="serve-title-text">3. VISIT & BOOK</h3>
              <div class="serve-box-text">
                If you want to visit the house then you can visit and book your house.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div class="about">
    <div class="container">
      <h2 class="text-center about-heading theme-color-green">WHAT EASY FIND IS ALL ABOUT?</h2> <hr class="underline mb-10" align="center">
      <p class="about-text">
       The idea of Easyfind was born as a result of frustration and an inspiration. "Frustration", because of having heard and undergone the horrors of a house search and still being clueless on the way to go about finding the right accommodation. "Inspiration", as we knew that we could truly add value and cater to this inherent need.

          We are a bunch of honest people with a drive to get students, bachelors and families to make a home out of a house.
      </p>
        <div class="row no-gutters mt-10">
          <div class="col-sm-6">
            <a href="/profiles"><button type="button" class="btn btn-default m-3 p-2 float-right" name="button">Browse PGs</button></a>
          </div>
          <div class="col-sm-6">
            <a href="/profile"><button type="button" class="btn btn-default m-3 p-2 list-your-pg-link float-left" name="button">List your PG</button></a>
          </div>
        </div>
    </div>
  </div> <!-- /about -->

  <!-- footer -->
  <footer class="footer">
    <div class="footer-text text-center">
      EasyFind 2018
    </div>
  </footer>