<<<<<<< HEAD

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navbar-custom.css">
 
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travel Easy | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navbar-custom.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- font awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Roboto+Condensed|Montserrat|Sacramento|Karla|Slabo+27px|Raleway|Tajawal|Proza+Libre|Source+Sans+Pro" rel="stylesheet">
</head>

>>>>>>> 12808775523759557e6f34e3573e06a67408f331
<body>
  <div class="main">
    <!-- navbar -->
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">EasyFind</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <!-- <ul class="nav navbar-nav">
          </ul> -->
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#" id="list-your-pg-link">List your PG/Flat</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 text-white p-5 main-content">
          <h2>Welcome</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button type="button" class="btn btn-default browse-button" name="button">Browse</button>
        </div>
      </div>
    </div>
  </div>

  <!-- what are you looking for -->
  <div class="choices">
    <h2 class="text-center text-white choice-header">WHAT ARE YOU LOOKING FOR?</h2> <hr class="underline mb-10">

    <!-- choice cards -->
    <div class="choice-cards" align="middle">
      <div class="container">
        <div class="row no-gutters">
          <!-- card 1 -->
          <div class="col-md-3 col-sm-6" onclick="location.href='https://www.google.com'">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="/home-icon1.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                PG
              </div>
            </div>
          </div> <!-- /card 1 -->

          <!-- card 2 -->
          <div class="col-md-3 col-sm-6">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="/home-icon2.png" alt="home icon" height="100px" width="100px">
              </div>
              <div class="choice-card-body title-text">
                Flat
              </div>
            </div>
          </div> <!-- /card 2 -->

          <!-- card 3 -->
          <div class="col-md-3 col-sm-6">
            <div class="choice-card">
              <div class="choice-card-icon"  align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="/home-icon3.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                Shared Room
              </div>
            </div>
          </div> <!-- /card 3 -->

          <!-- card 4 -->
          <div class="col-md-3 col-sm-6">
            <div class="choice-card">
              <div class="choice-card-icon" align="middle">
                <!-- <i class="fas fa-home"></i> -->
                <img src="/home-icon4.png" height="100px" width="100px" alt="home">
              </div>
              <div class="choice-card-body title-text">
                Family Home
              </div>
            </div>
          </div> <!-- /card 4 -->
        </div> <!-- /row -->
      </div> <!-- container -->
    </div> <!-- /choice cards -->
  </div> <!-- choices -->

  <div class="serve-boxes">
    <h2 class="text-center serve-heading">HOW WE SERVE YOU?</h2> <hr class="underline mb-10">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="/home-icon1.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
<<<<<<< HEAD
              <h3 class="serve-title-text">1. EASY SELECT</h3>
              <div class="serve-box-text">
                Choose Your desired FLAT/PG/ROOM according to your requirements.
=======
              <h3 class="serve-title-text">1. Something</h3>
              <div class="serve-box-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
>>>>>>> 12808775523759557e6f34e3573e06a67408f331
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="/home-icon1.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
<<<<<<< HEAD
              <h3 class="serve-title-text">2. CONTACT OWNER</h3>
              <div class="serve-box-text">
                Contact the owner instantly via email or his/her contact number.
=======
              <h3 class="serve-title-text">2. Something</h3>
              <div class="serve-box-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
>>>>>>> 12808775523759557e6f34e3573e06a67408f331
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-sm-6">
          <div class="serve-box" align="middle">
            <div class="serve-box-img">
              <img src="/home-icon1.png" height="100px" width="100px" alt="">
            </div>
            <div class="serve-box-text-content text-center">
<<<<<<< HEAD
              <h3 class="serve-title-text">3. VISIT & BOOK</h3>
              <div class="serve-box-text">
                If you want to visit the house then you can visit and book your house.
=======
              <h3 class="serve-title-text">3. Something</h3>
              <div class="serve-box-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
>>>>>>> 12808775523759557e6f34e3573e06a67408f331
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div class="about">
    <div class="container">
      <h2 class="text-center about-heading theme-color-green">WHAT EASY FIND IS ALL ABOUT?</h2> <hr class="underline mb-10" align="center">
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br></br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
        <div class="row no-gutters mt-10">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default m-3 p-2 float-right" name="button">Browse PGs</button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-default m-3 p-2 list-your-pg-link float-left" name="button">List your PG</button>
          </div>
        </div>
    </div>
  </div> <!-- /about -->

  <!-- map and footer -->
  <div class="container">
    <div class="footer">
      <div class="row no-gutters">
        <div class="footer-text text-center">
          EasyFInd 2018
        </div>
      </div>
    </div>
  </div>
</br></br></br>
<<<<<<< HEAD

=======
</body>
</html>
>>>>>>> 12808775523759557e6f34e3573e06a67408f331
